.icon-box-4-item
  %a.icon-box-4-icon.bg-color{:href => "#"}
    %i.fa.fa-gamepad
  %h4
    %a{:href => "#"} បញូ្ចល Program ទូរសព្ទ័ដៃ
  %p មានបញូ្ចល Program and Games for Smart Phone គ្រប់ប្រភេទហើយមានទទួល​ Jailbreak ទូរសព្ទ័​ដៃ i-Phone គ្រប់ប្រភេទ និង ទទួលបុក​ Program តំឡើង Version សេរីថ្មីៗដល់អតិថិជន​ ដែលកំពុងប្រើប្រាស់ទូរសព្ទ័ដៃ Model: SAMSUNG and I-PHONE