.icon-box-4-item
  %a.icon-box-4-icon.bg-color{:href => "#"}
    %i.fa.fa-mobile
  %h4
    %a{:href => "#"} ទទួលទិញនូវទូរសព្ទ័ដៃ​ ១ ទឹក
  %p ហាងយើញខ្ញំុក៏មានទិញនូវទូរសព្ទ័ដៃ ១ ទឹក​​ដែលមានគុណភាព​ 96%-99%  