!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    / Title here
    %title Brave
    / Description, Keywords and Author
    %meta{:content => "Your description", :name => "description"}/
    %meta{:content => "Your,Keywords", :name => "keywords"}/
    %meta{:content => "ResponsiveWebInc", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Styles
    / Bootstrap CSS
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    / Font awesome CSS
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    / Magnific Popup
    %link{:href => "css/magnific-popup.css", :rel => "stylesheet"}/
    / Owl carousel
    %link{:href => "css/owl.carousel.css", :rel => "stylesheet"}/
    / CSS for this page
    / Ecommerce
    %link{:href => "css/styles/ecommerce.css", :rel => "stylesheet"}/
    / Base style
    %link{:href => "css/styles/style.css", :rel => "stylesheet"}/
    / Skin CSS
    %link#color_theme{:href => "css/styles/skin-lblue.css", :rel => "stylesheet"}/
    / Custom CSS. Type your CSS code in custom.css file
    %link{:href => "css/custom.css", :rel => "stylesheet"}/
    / Favicon
    %link{:href => "#", :rel => "shortcut icon"}/
  / Add class "boxed" along with body for boxed layout.
  / Add "pattern-x" (1 to 5) for background patterns.
  / Add "img-x" (1 to 5) for background images.
  %body
    / Outer Starts
    .outer
      / Top bar starts
      .top-bar
        .container
          / Contact starts
          .tb-contact.pull-left
            / Email
            %i.fa.fa-envelope.color
             
            %a{:href => "mailto:limsomnang678@gmail.com"} limsomnang678@gmail.com
              
            / Phone
            %i.fa.fa-phone.color
              010 200022
          / Contact ends
          / Langauge starts
          .tb-language.dropdown.pull-right
            %a{"data-target" => "#", "data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-globe
              English
              %i.fa.fa-angle-down.color
            / Dropdown menu with languages
            %ul.dropdown-menu.dropdown-mini{:role => "menu"}
              %li
                %a{:href => "#"} Hindi
              %li
                %a{:href => "#"} Tamil
              %li
                %a{:href => "#"} Kanada
          / Language ends
          / Search section for responsive design
          .tb-search.pull-left
            %a.b-dropdown{:href => "#"}
              %i.fa.fa-search.square-2.rounded-1.bg-color.white
            .b-dropdown-block
              %form{:role => "form"}
                / Input Group
                .input-group
                  %input.form-control{:placeholder => "Type Something", :type => "text"}/
                  %span.input-group-btn
                    %button.btn.btn-color{:type => "button"} Search
          / Search section ends
          / Social media starts
          .tb-social.pull-right
            .brand-bg.text-right
              / Brand Icons
              %a.facebook{:href => "#"}
                %i.fa.fa-facebook.square-2.rounded-1
              %a.twitter{:href => "#"}
                %i.fa.fa-twitter.square-2.rounded-1
              %a.google-plus{:href => "#"}
                %i.fa.fa-google-plus.square-2.rounded-1
              %a.linkedin{:href => "#"}
                %i.fa.fa-linkedin.square-2.rounded-1
              %a.pinterest{:href => "#"}
                %i.fa.fa-pinterest.square-2.rounded-1
          / Social media ends
          .clearfix
      / Top bar ends
      / Header two Starts
      .header-2
        / Container
        .container
          .row
            .col-md-4
              / Logo section
              .logo
                %h1
                  %a{:href => "index.html"}
                    %img{:alt => "", :src => "img/ecommerce/slider/logo-phoneshop.png"}/
                      Phone Shop
            .col-md-7
              / Navigation starts.
              .navy
                %ul.pull-right
                  / Main menu
                  %li
                    %a.active{:href => "index.html"} Home
                  %li
                    %a{:href => "items-new.html"} New Products
                  %li
                    %a{:href => "accessory.html"} Accessory
                  %li
                    %a{:href => "promotion.html"} Specail Promotion
                  %li
                    %a{:href => "about-us.html"} About Us
                  %li
                    %a{:href => "contact-us.html"} Contact Us
              / Navigation ends
            .col-md-1
              / Search section
              .head-search.pull-right
                %a.b-dropdown{:href => "#"}
                  %i.fa.fa-search.square-2.rounded-1.bg-color.white
                .b-dropdown-block
                  %form{:role => "form"}
                    / Input Group
                    .input-group
                      %input.form-control{:placeholder => "Type Something", :type => "text"}/
                      %span.input-group-btn
                        %button.btn.btn-color{:type => "button"} Search
              / Search section ends
              .clearfix
      / Header two ends
      / Main content starts
      .main-block
        / Shopping Items
        .ecommerce
          / Carousel
          /
            Bootstrap carousel usage
            Bootstrap carousel should have id. Below i am using "bs-carousel-X". Where "X" denotes number". If a page has more than 1 carousel, then add the new carousel with the id "bs-carousel-1", "bs-carousel-2". You also need to update the id in, "carousel indicators" section and "carousel control" section.
            
            Carousel comes with 3 main data attributes which you can customize. They are...
            data-interval - Time delay between item cycle. Default value "5000".
            data-pause - Pause on hover. Default value "pause".
            data-wrap - Continues cycle or stop at the end. Default value "true".
          / Outer layer
          #bs-carousel-1.carousel.carousel-two.slide{"data-interval" => "2000", "data-pause" => "hover", "data-ride" => "carousel", "data-wrap" => "true"}
            / Bootstrap indicators. If you don't need indicators, remove the below section
            %ol.carousel-indicators
              %li.active{"data-slide-to" => "0", "data-target" => "#bs-carousel-1"}
              %li{"data-slide-to" => "1", "data-target" => "#bs-carousel-1"}
              %li{"data-slide-to" => "2", "data-target" => "#bs-carousel-1"}
            / Slides. You can also add captions
            .carousel-inner
              / Item, First item should have extra class "active"
              .item.active
                / Image
                %img{:alt => "", :src => "img/ecommerce/slider/1.png"}/
                / Content
                .carousel-two-content
                  %h3
                    %a{:href => "#"} SAMSUNG GALAXY S6
              .item
                %img{:alt => "", :src => "img/ecommerce/slider/2.png"}/
                / Content
                .carousel-two-content
                  %h3
                    %a{:href => "#"} SAMSUNG GALAXY NOTE4
              .item
                %img{:alt => "", :src => "img/ecommerce/slider/3.png"}/
                / Content
                .carousel-two-content
                  %h3
                    %a{:href => "#"} SPECAIL PROMOTION
            / Carousel controls (arrows). If you don't need controls, remove the below section
            %a.left.carousel-control{"data-slide" => "prev", :href => "#bs-carousel-1", :role => "button"}
              %span.fa.fa-chevron-left
            %a.right.carousel-control{"data-slide" => "next", :href => "#bs-carousel-1", :role => "button"}
              %span.fa.fa-chevron-right
          .container
            / Information Block
            .info
              .row
                .col-md-3.col-sm-6
                  / Information Item
                  .info-item.bg-red
                    / Number
                    %span.num-outer
                      %i.fa.fa-truck.red
                    / Heading
                    %h4 Free Delivery
                    / Sub Heading
                    %h5 Order Over $99
                    .clearfix
                .col-md-3.col-sm-6
                  / Information Item
                  .info-item.bg-green
                    / Number
                    %span.num-outer
                      %i.fa.fa-retweet.green
                    / Heading
                    %h4 Exchange
                    / Sub Heading
                    %h5 Within 30 days.
                    .clearfix
                .col-md-3.col-sm-6
                  / Information Item
                  .info-item.bg-orange
                    / Number
                    %span.num-outer
                      %i.fa.fa-credit-card.orange
                    / Heading
                    %h4 Easy Payment
                    / Sub Heading
                    %h5 All carts are separate.
                    .clearfix
                .col-md-3.col-sm-6
                  / Information Item
                  .info-item.bg-lblue
                    / Number
                    %span.num-outer
                      %i.fa.fa-phone.lblue
                    / Heading
                    %h4 Support
                    / Sub Heading
                    %h5 010 200022
                    .clearfix
            / Information block ends
            / Main content starts
            .main-block
              / Page heading two starts
              %hr/
              / Page heading two ends
              / Shopping Items
              .container
                .ecommerce
                  .row
                    .col-md-9.col-sm-8.col-md-push-3.col-sm-push-4
                      / Shopping items content
                      .shopping-content
                        / Block Title
                        .block-heading-two
                          %h3
                            %span
                              %i.fa.fa-laptop.color>
                                Phones
                        .row
                          .col-md-4.col-sm-6
                            / Shopping items
                            .shopping-item
                              / Image
                              %a{:href => "ecom-item-single.html"}
                                %img.img-responsive{:alt => "", :src => "img/ecommerce/items/2.png"}/
                              / Shopping item name / Heading
                              %h4
                                %a{:href => "ecom-item-single.html"} Quasi Architects
                                %span.color.pull-right $49
                              .clearfix
                              / Buy now button
                              /
                                <div class="visible-xs">
                                <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                                </div>
                              / Shopping item hover block & link
                              .item-hover.bg-color.hidden-xs
                                %a{:href => "item-single.html"} Detail Phone
                          .col-md-4.col-sm-6
                            / Shopping items
                            .shopping-item
                              / Image
                              %a{:href => "ecom-item-single.html"}
                                %img.img-responsive{:alt => "", :src => "img/ecommerce/items/3.png"}/
                              / Shopping item name / Heading
                              %h4
                                %a{:href => "ecom-item-single.html"} Byances Kcepte
                                %span.color.pull-right $49
                              .clearfix
                              / Buy now button
                              /
                                <div class="visible-xs">
                                <a class="btn btn-color btn-sm" href="#">Buy Now</a>
                                </div>
                              / Shopping item hover block & link
                              .item-hover.bg-color.hidden-xs
                                %a{:href => "#"} Add to cart
                              / Hot tag
                              %span.hot-tag.bg-red NEW
                          .col-md-4.col-sm-6
                            / Shopping items
                            .shopping-item
                              / Image
                              %a{:href => "ecom-item-single.html"}
                                %img.img-responsive{:alt => "", :src => "img/ecommerce/items/4.png"}/
                              / Shopping item name / Heading
                              %h4
                                %a{:href => "ecom-item-single.html"} Cepturi Sintocc
                                %span.color.pull-right $49
                              .clearfix
                              / Buy now button
                              .visible-xs
                                %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
                              / Shopping item hover block & link
                              .item-hover.bg-color.hidden-xs
                                %a{:href => "#"} Add to cart
                          .col-md-4.col-sm-6
                            / Shopping items
                            .shopping-item
                              / Image
                              %a{:href => "ecom-item-single.html"}
                                %img.img-responsive{:alt => "", :src => "img/ecommerce/items/5.png"}/
                              / Shopping item name / Heading
                              %h4
                                %a{:href => "ecom-item-single.html"} Excepteur Sint
                                %span.color.pull-right $49
                              .clearfix
                              / Buy now button
                              .visible-xs
                                %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
                              / Shopping item hover block & link
                              .item-hover.bg-color.hidden-xs
                                %a{:href => "#"} Add to cart
                              / Hot tag
                              %span.hot-tag.bg-lblue HOT
                          .col-md-4.col-sm-6
                            / Shopping items
                            .shopping-item
                              / Image
                              %a{:href => "ecom-item-single.html"}
                                %img.img-responsive{:alt => "", :src => "img/ecommerce/items/6.png"}/
                              / Shopping item name / Heading
                              %h4
                                %a{:href => "ecom-item-single.html"} Occam Cupid
                                %span.color.pull-right $49
                              .clearfix
                              / Buy now button
                              .visible-xs
                                %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
                              / Shopping item hover block & link
                              .item-hover.bg-color.hidden-xs
                                %a{:href => "#"} Add to cart
                              / Hot tag
                              %span.hot-tag.bg-red NEW
                          .col-md-4.col-sm-6
                            / Shopping items
                            .shopping-item
                              / Image
                              %a{:href => "ecom-item-single.html"}
                                %img.img-responsive{:alt => "", :src => "img/ecommerce/items/7.png"}/
                              / Shopping item name / Heading
                              %h4
                                %a{:href => "ecom-item-single.html"} Fugiat Nulla
                                %span.color.pull-right $49
                              .clearfix
                              / Buy now button
                              .visible-xs
                                %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
                              / Shopping item hover block & link
                              .item-hover.bg-color.hidden-xs
                                %a{:href => "#"} Add to cart
                          .col-md-4.col-sm-6
                            / Shopping items
                            .shopping-item
                              / Image
                              %a{:href => "ecom-item-single.html"}
                                %img.img-responsive{:alt => "", :src => "img/ecommerce/items/8.png"}/
                              / Shopping item name / Heading
                              %h4
                                %a{:href => "ecom-item-single.html"} Eos Qui Ratione
                                %span.color.pull-right $49
                              .clearfix
                              / Buy now button
                              .visible-xs
                                %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
                              / Shopping item hover block & link
                              .item-hover.bg-color.hidden-xs
                                %a{:href => "#"} Add to cart
                          .col-md-4.col-sm-6
                            / Shopping items
                            .shopping-item
                              / Image
                              %a{:href => "ecom-item-single.html"}
                                %img.img-responsive{:alt => "", :src => "img/ecommerce/items/9.png"}/
                              / Shopping item name / Heading
                              %h4
                                %a{:href => "ecom-item-single.html"} Natus Erwor Site
                                %span.color.pull-right $49
                              .clearfix
                              / Buy now button
                              .visible-xs
                                %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
                              / Shopping item hover block & link
                              .item-hover.bg-color.hidden-xs
                                %a{:href => "#"} Add to cart
                              / Hot tag
                              %span.hot-tag.bg-green HOT
                          .col-md-4.col-sm-6
                            / Shopping items
                            .shopping-item
                              / Image
                              %a{:href => "ecom-item-single.html"}
                                %img.img-responsive{:alt => "", :src => "img/ecommerce/items/10.png"}/
                              / Shopping item name / Heading
                              %h4
                                %a{:href => "ecom-item-single.html"} Quasi Architects
                                %span.color.pull-right $49
                              .clearfix
                              / Buy now button
                              .visible-xs
                                %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
                              / Shopping item hover block & link
                              .item-hover.bg-color.hidden-xs
                                %a{:href => "#"} Add to cart
                          .col-md-4.col-sm-6
                            / Shopping items
                            .shopping-item
                              / Image
                              %a{:href => "ecom-item-single.html"}
                                %img.img-responsive{:alt => "", :src => "img/ecommerce/items/11.png"}/
                              / Shopping item name / Heading
                              %h4
                                %a{:href => "ecom-item-single.html"} Quasi Architects
                                %span.color.pull-right $49
                              .clearfix
                              / Buy now button
                              .visible-xs
                                %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
                              / Shopping item hover block & link
                              .item-hover.bg-color.hidden-xs
                                %a{:href => "#"} Add to cart
                          .col-md-4.col-sm-6
                            / Shopping items
                            .shopping-item
                              / Image
                              %a{:href => "ecom-item-single.html"}
                                %img.img-responsive{:alt => "", :src => "img/ecommerce/items/12.png"}/
                              / Shopping item name / Heading
                              %h4
                                %a{:href => "ecom-item-single.html"} Quasi Architects
                                %span.color.pull-right $49
                              .clearfix
                              / Buy now button
                              .visible-xs
                                %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
                              / Shopping item hover block & link
                              .item-hover.bg-color.hidden-xs
                                %a{:href => "#"} Add to cart
                          .col-md-4.col-sm-6
                            / Shopping items
                            .shopping-item
                              / Image
                              %a{:href => "ecom-item-single.html"}
                                %img.img-responsive{:alt => "", :src => "img/ecommerce/items/13.png"}/
                              / Shopping item name / Heading
                              %h4
                                %a{:href => "ecom-item-single.html"} Quasi Architects
                                %span.color.pull-right $49
                              .clearfix
                              / Buy now button
                              .visible-xs
                                %a.btn.btn-color.btn-sm{:href => "#"} Buy Now
                              / Shopping item hover block & link
                              .item-hover.bg-color.hidden-xs
                                %a{:href => "#"} Add to cart
                        / Pagination
                        %ul.pagination
                          %li.disabled
                            %a{:href => "#"} «
                          %li.active
                            %a{:href => "#"}
                              1
                              %span.sr-only (current)
                          %li
                            %a{:href => "#"} 2
                          %li
                            %a{:href => "#"} 3
                          %li
                            %a{:href => "#"} 4
                          %li
                            %a{:href => "#"} 5
                          %li
                            %a{:href => "#"} »
                        / Pagination end
                    .col-md-3.col-sm-4.col-md-pull-9.col-sm-pull-8
                      / Shopping Sidebar
                      .sidebar
                        / Heading
                        %h2
                          %i Brands
                        / Sidebar Menu
                        %ul.list-unstyled.my-list
                          %li
                            %h4
                              %a.active{:href => "#"}
                                %i.fa.fa-apple{:style => "color:gray"}>
                                    Apple
                          %li
                            %h4
                              %a{:href => "#"}
                                %i.fa.fa-android{:style => "color:green"}>
                                    Samsung
                          %li
                            %h4
                              %a{:href => "#"}
                                %i.fa.fa-android{:style => "color:green"}>
                                   Hawai
                          %li
                            %h4
                              %a{:href => "#"}
                                %i.fa.fa-btc{:style => "color:black"}>
                                     Black Berry
                          %li
                            %h4
                              %a{:href => "#"}
                                %i.fa.fa-windows{:style => "color:#2E9AFE"}>
                                    Nokie
                          %li
                            %h4
                              %a{:href => "#"}
                                %i.fa.fa-android{:style => "color:green"}>
                                    Sony
                          %li
                            %h4
                              %a{:href => "#"}
                                %i.fa.fa-android{:style => "color:green"}>
                                    Singtect
                          %li
                            %h4
                              %a{:href => "#"}
                                %i.fa.fa-vimeo-square{:style => "color:#FACC2E"}>
                                    Vertu
                          %li
                            %h4
                              %a{:href => "#"} All
                        / Heading
                        %h2 Find us on Facebook
                        / Sidebar Menu
                        %ul.list-unstyled.my-list
                          %li Facebook
                  / Recent items Ends
            / Main content ends
            / Recent items Starts
            .recent-items
              / Block heading two
              .block-heading-two
                %h3
                  %span Recent Items
              / Owl carousel block starts
              / Change values of data-items, data-auto-play, data-pagination & data-single-item based on your needs
              .owl-carousel{"data-auto-play" => "true", "data-items" => "5", "data-pagination" => "true", "data-single-item" => "false"}
                / Carousel item
                .owl-content
                  .padd-15
                    %a{:href => "#"}
                      %img.img-responsive{:alt => "", :src => "img/ecommerce/items/1.png"}/
                    %h4
                      %a{:href => "#"}
                        Motorola G
                        %span.color.pull-right $25
                    .clearfix
                .owl-content
                  .padd-15
                    %a{:href => "#"}
                      %img.img-responsive{:alt => "", :src => "img/ecommerce/items/2.png"}/
                    %h4
                      %a{:href => "#"}
                        Google Nexus 7
                        %span.color.pull-right $25
                    .clearfix
                .owl-content
                  .padd-15
                    %a{:href => "#"}
                      %img.img-responsive{:alt => "", :src => "img/ecommerce/items/3.png"}/
                    %h4
                      %a{:href => "#"}
                        Samsung Galaxy
                        %span.color.pull-right $25
                    .clearfix
                .owl-content
                  .padd-15
                    %a{:href => "#"}
                      %img.img-responsive{:alt => "", :src => "img/ecommerce/items/4.png"}/
                    %h4
                      %a{:href => "#"}
                        Lenovo Phonepad
                        %span.color.pull-right $25
                    .clearfix
                .owl-content
                  .padd-15
                    %a{:href => "#"}
                      %img.img-responsive{:alt => "", :src => "img/ecommerce/items/5.png"}/
                    %h4
                      %a{:href => "#"}
                        Asus Ideapad
                        %span.color.pull-right $25
                    .clearfix
                .owl-content
                  .padd-15
                    %a{:href => "#"}
                      %img.img-responsive{:alt => "", :src => "img/ecommerce/items/6.png"}/
                    %h4
                      %a{:href => "#"}
                        Micromax Canvas
                        %span.color.pull-right $25
                    .clearfix
                .owl-content
                  .padd-15
                    %a{:href => "#"}
                      %img.img-responsive{:alt => "", :src => "img/ecommerce/items/7.png"}/
                    %h4
                      %a{:href => "#"}
                        Sony Xperia Pro
                        %span.color.pull-right $25
                    .clearfix
                .owl-content
                  .padd-15
                    %a{:href => "#"}
                      %img.img-responsive{:alt => "", :src => "img/ecommerce/items/8.png"}/
                    %h4
                      %a{:href => "#"}
                        Apple iPhone 5S
                        %span.color.pull-right $25
                    .clearfix
                .owl-content
                  .padd-15
                    %a{:href => "#"}
                      %img.img-responsive{:alt => "", :src => "img/ecommerce/items/9.png"}/
                    %h4
                      %a{:href => "#"}
                        Galaxy Tab 2
                        %span.color.pull-right $25
                    .clearfix
                .owl-content
                  .padd-15
                    %a{:href => "#"}
                      %img.img-responsive{:alt => "", :src => "img/ecommerce/items/10.png"}/
                    %h4
                      %a{:href => "#"}
                        Karboon Tab
                        %span.color.pull-right $25
                    .clearfix
              / Owl carousel block ends
            / Recent items Ends
      / Main content ends
      / Foot Starts
      .foot
        / Container
        .container
          .row
            .col-md-3.col-sm-6
              / Foot Item
              .foot-item
                / Heading
                %h5.bold
                  %i.fa.fa-user>
                    About_Us
                %p ដើម្បីទទួលបាននូវពត៏មានពិសេសៗ នឹងសេវាកម្មថ្មីៗ​​ ជាពិសេសមានបង្ហាញនូវ វីដេអូអំពីផលិតផលដែលទើបមកដល់ថ្មីៗកំពុងពេញនិយមសំរាប់មិត្តៗ យុវវ័យ​ សូមចុចទៅលើ​ logo Socail Network ដែលមាននៅខាងក្រោមដូចតទៅ​ ៖
                .brand-bg
                  / Social Media Icons
                  %a.facebook{:href => "#"}
                    %i.fa.fa-facebook.circle-3
                  %a.twitter{:href => "#"}
                    %i.fa.fa-twitter.circle-3
                  %a.google-plus{:href => "#"}
                    %i.fa.fa-google-plus.circle-3
                  %a.linkedin{:href => "#"}
                    %i.fa.fa-linkedin.circle-3
                  %a.pinterest{:href => "#"}
                    %i.fa.fa-pinterest.circle-3
                /
                  <div class="subscribe-box">
                  <h5 class="bold">Subscribe :</h5>
                  
                  <form role="form">
                  
                  <div class="input-group">
                  <input type="text" class="form-control" placeholder="Enter Email Id">
                  <span class="input-group-btn">
                  <button class="btn btn-color" type="button">Subscribe</button>
                  </span>
                  </div>
                  </form>
                  </div>
            .col-md-3.col-sm-6
              / Foot Item
              .foot-item
                / Heading
                %h5.bold
                  %i.fa.fa-comments>
                    Recommend
                %p ដើម្បីទទួលបាននូវទូរសព្ទ័ដៃ​​ ដែលមានគុណភាពល្អ​​និង មានបត្រ័ធានាត្រឹមត្រូវ​ សូមមកជាវ រឺមកមើលនៅហាងលក់ទូរសព្ទ័ដៃ​ សំណាង (Somnang Phone Shop)
                / Foot Item Content
                /
                  <div class="foot-item-content">
                  <ul class="list-unstyled">
                  
                  <li><a href="#">Denocing Sapientes Contain</a></li>
                  <li><a href="#">Dignissim Electronic Typeset</a></li>
                  <li><a href="#">Laborum Desktop Publishing</a></li>
                  <li><a href="#">Quibus PageMaker Including</a></li>
                  <li><a href="#">Denocing Sapientes Contain</a></li>
                  </ul>
                  </div>
            .col-md-3.col-sm-6
              / Foot Item
              .foot-item
                / Heading
                %h5.bold
                  %i.fa.fa-picture-o>
                    Recent Images
                / Foot Item Content
                .foot-item-content
                  / Foot Recent Image
                  .foot-recent-img
                    %a.lightbox{:href => "img/gallery/small/1.jpg"}
                      %img.img-responsive.img-thumbnail{:alt => "", :src => "img/gallery/small/1.jpg"}/
                    %a.lightbox{:href => "img/gallery/small/2.jpg"}
                      %img.img-responsive.img-thumbnail{:alt => "", :src => "img/gallery/small/2.jpg"}/
                    %a.lightbox{:href => "img/gallery/small/3.jpg"}
                      %img.img-responsive.img-thumbnail{:alt => "", :src => "img/gallery/small/3.jpg"}/
                  / Foot Recent Image
                  .foot-recent-img
                    %a.lightbox{:href => "img/gallery/small/1.jpg"}
                      %img.img-responsive.img-thumbnail{:alt => "", :src => "img/gallery/small/1.jpg"}/
                    %a.lightbox{:href => "img/gallery/small/2.jpg"}
                      %img.img-responsive.img-thumbnail{:alt => "", :src => "img/gallery/small/2.jpg"}/
                    %a.lightbox{:href => "img/gallery/small/3.jpg"}
                      %img.img-responsive.img-thumbnail{:alt => "", :src => "img/gallery/small/3.jpg"}/
                  .foot-recent-img
                    %a.lightbox{:href => "img/gallery/small/1.jpg"}
                      %img.img-responsive.img-thumbnail{:alt => "", :src => "img/gallery/small/1.jpg"}/
                    %a.lightbox{:href => "img/gallery/small/2.jpg"}
                      %img.img-responsive.img-thumbnail{:alt => "", :src => "img/gallery/small/2.jpg"}/
                    %a.lightbox{:href => "img/gallery/small/3.jpg"}
                      %img.img-responsive.img-thumbnail{:alt => "", :src => "img/gallery/small/3.jpg"}/
            .col-md-3.col-sm-6
              / Foot Item
              .foot-item
                / Heading
                %h5.bold
                  %i.fa.fa-building-o>
                    Contact Us
                / Foot Item Content
                .foot-item-content.address
                  / Heading
                  %h6.bold
                    %i.fa.fa-home>
                      Somnang Phone Shop
                  / Paragraph
                  %p.add
                    Chak Angre krom district, Mean chey khan, street 2,
                    Phnom Penh.
                  %p.tel
                    %i.fa.fa-phone
                    Tel : 010 200022
                    %br/
                    %i.fa.fa-envelope
                    Mail :
                    %a{:href => "#"} limsomnang678@gmail.com
                    %br/
                    %i.fa.fa-calendar
                    Business Hours : 7:30 - 5:30
      / Foot Ends
      / Footer Starts
      %footer
        / Container
        .container
          / Footer Content
          / Paragraph
          %p.pull-left
            Copyright © 2014 -
            %a{:href => "#"} Your Site
          %ul.list-inline.pull-right
            / List
            %li
              %a{:href => "index.html"} Home
            %li
            %li
              %a{:href => "service.html"} New Products
            %li
              %a{:href => "feature.html"} Accessory
            %li
              %a{:href => "feature.html"} Promotions
            %li
              %a{:href => "about-us.html"} About
            %li
              %a{:href => "contact-us.html"} Contact
          / Clearfix
          .clearfix
      / Footer Ends
    / Outer Ends
    / Scroll to top
    %span.totop
      %a{:href => "#"}
        %i.fa.fa-angle-up.bg-color
    / Javascript files
    / jQuery
    %script{:src => "js/jquery.js"}
    / Bootstrap JS
    %script{:src => "js/bootstrap.min.js"}
    / Placeholders JS
    %script{:src => "js/placeholders.js"}
    / Magnific Popup
    %script{:src => "js/jquery.magnific-popup.min.js"}
    / Owl carousel
    %script{:src => "js/owl.carousel.min.js"}
    / Respond JS for IE8
    %script{:src => "js/respond.min.js"}
    / HTML5 Support for IE
    %script{:src => "js/html5shiv.js"}
    / Main JS
    %script{:src => "js/main.js"}
    / Javascript for this page
    / Ecommerce custom JS
    %script{:src => "js/ecommerce.js"}
    / Custom JS. Type your JS code in custom.js file
    %script{:src => "js/custom.js"}
    /
      Style switcher. This is just for demo purpose only.
      If you don't want remove the below line.
      Some of the features of style switcher won't work on offline. THey only work when you upload it to server
    / <script src="style-switcher/style-switcher.js"></script>
