%h3
  ហាងលក់ទូរសព្ទ័ដៃ​ សំណាង
  %span.color សូមស្វាគមន៏ !!!
%p ហាងទូរសព្ទ័របស់យើងខ្ញុំមានលក់ទូរសព្ទ័ដៃសេរីទំនើប និង ថ្មីៗគ្រប់ប្រភេទ​ដូចជា​ I-Phone , Samsung , Huwei, Nokie, HTC ។​​ ហើយហាងយើញខ្ញំុក៏មានលក់នូវទូរសព្ទ័ដៃ ១ ទឹក​​ដែលមានគុណភាព​ 96%-99% ផងដែរ​ ។ ជាពិសេសទៀតនេា៖ហាងលក់ទូរសព្ទ័ដៃ​ សំណាង ក័មានទទួលនូវសេវាកម្មជាច្រើនទៀតជូនដល់់អតិថិជនដូចជា ៖
%ul.list-2
  %li
    %h6 ទទួលជួសជុលទូរសព្ទ័ដៃ​ គ្រប់ប្រភេទដល់់អតិថិជន ( Hardware )
  %li
    %h6 មានបញូ្ចល Program or Software for Smart Phone គ្រប់ប្រភេទហើយមានទទួល​ Jailbreak ទូរសព្ទ័​ដៃ i-Phone គ្រប់ប្រភេទ និង ទទួលបុក​ Program តំឡើង Version សេរីថ្មីៗដល់អតិថិជន​ ដែលកំពុងប្រើប្រាស់ទូរសព្ទ័ដៃ Model: SAMSUNG and I-PHONE  ( Software )
  %li
    %h6 មានលក់នូវ​ Case សំរាប់ទូរសព្ទ័ដៃសេរីថ្មីទំនើបៗ នឹង ពេញនិយមសំរាប់សុភាពបុរស​ និង cute cute សំរាប់សុភាពនារីផងដែរ
  %li
    %h6 មានទទួលទិញនូវទូរសព្ទ័ដៃ​ ១ ទឹកពីគ្រប់អតិថិជនដែលមានបំណងចង់លក់ទូរសព្ទ័ដៃរបស់ខ្លួន
  %li
    %h6 មាន Promotion ពិសេសៗជាច្រើនទៀតសំរាប់ផ្តល់ជូនអតិថិជន

%h3= about_us.name
%p=  about_us.description
