.contact-form
  %h5 Contact Form
  %form.form{:role => "form"}
    .form-group
      %input#name.form-control{:placeholder => "Enter Name", :type => "text"}
    .form-group
      %input#email.form-control{:placeholder => "Enter Email", :type => "text"}
    .form-group
      %textarea#comments.form-control{:placeholder => "Enter Message", :rows => "7"}
    
    %button.btn.btn-red{:type => "button"} Submit
    %button.btn.btn-default{:type => "button"} Reset