.contact-map
  %h5 Locate Us
  %iframe{:frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m0!3m2!1sen!2skh!4v1430438036305!6m8!1m7!1sImdmBUvVy6PpfIlc0-1KWQ!2m2!1d11.569217!2d104.927376!3f90!4f0!5f0.7820865974627469", :style => "border:0", :width => "600"}