.info
  .row
    .col-md-3.col-sm-6
      / Information Item
      .info-item.bg-red
        / Number
        %span.num-outer
          %i.fa.fa-truck.red
        / Heading
        %h4 Free Delivery
        / Sub Heading
        %h5 Order Over $99
        .clearfix
    .col-md-3.col-sm-6
      / Information Item
      .info-item.bg-green
        / Number
        %span.num-outer
          %i.fa.fa-retweet.green
        / Heading
        %h4 Exchange
        / Sub Heading
        %h5 Within 30 days.
        .clearfix
    .col-md-3.col-sm-6
      / Information Item
      .info-item.bg-orange
        / Number
        %span.num-outer
          %i.fa.fa-credit-card.orange
        / Heading
        %h4 Easy Payment
        / Sub Heading
        %h5 All carts are separate.
        .clearfix
    .col-md-3.col-sm-6
      / Information Item
      .info-item.bg-lblue
        / Number
        %span.num-outer
          %i.fa.fa-phone.lblue
        / Heading
        %h4 Support
        / Sub Heading
        %h5 010 200022
        .clearfix