.icon-box-4-item
  %a.icon-box-4-icon.bg-color{:href => "#"}
    %i.fa.fa-tablet
  %h4
    %a{:href => "#"} មានលក់ Case សំរាប់ទូរសព្ទ័ដៃ
  %p Case សំរាប់ទូរសព្ទ័ដៃសេរីថ្មីទំនើបៗ នឹង ពេញនិយមសំរាប់សុភាពបុរស​ និង cute cute សំរាប់សុភាពនារី